* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.timer {
  margin-top: 10px;
  font-size: 36px;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 10px 0 10px 0;
}

.playgrounds {
  width: 90vw;
  height: 80vh;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: blue;
  position: relative;
}

.bubble {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: twoTimes 2s ease 0s 2 alternate;
}

.hovered {
  font-size: 1.2rem;
  background-color: aquamarine;
}

.controls button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  border-radius: 0px;
  border: 1px solid red;
  padding: 10px 20px;
}

@keyframes twoTimes {
  from {
    width: 10px;
    height: 10px;
  }
  to {
    width: 50px;
    height: 50px;
  }
}
